# Dependências do Node.js
/node_modules

# Arquivos de Build e Produção
/dist
/.output

# Logs
npm-debug.log*
yarn-error.log
yarn-debug.log*
pnpm-debug.log*

# Arquivos de ambiente (contêm senhas e chaves de API)
.env
.env*.local

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configuração de editores de código
.vscode/
.idea/